
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Goodelias</p>
  </div>
</div>
<script src="https://kit.fontawesome.com/c0833f714a.js" crossorigin="anonymous"></script>
</body>
</html>
