@media (max-width: 1477.98px) {
    .header a.logo {
        max-width: 70px;
    }

}

@media (max-width: 1199.98px) {
    .md-margin {
        padding: 0 67px;
    }
}

@media (max-width: 991.98px) {
    .header {
        padding: 55px 0;
        overflow: visible;
    }

    .header a.logo {
        text-align: center;
        max-width: 100%;
    }

    .header a.logo img {
        width: 229px;
    }

    .header a {
        display: block;
        line-height: 1.6;
        text-align: center;
        padding: 0;
    }

    .nav-block {
        top: 167px;
    }

    a.btn-green:hover {
        background-color: #2cd3b8;
    }

    a.btn-empty:hover {
        color: #3b4269;
        background-color: #eff4f4;
    }

    .nav-btn {
        display: block;
        position: absolute;
        z-index: 1;
        width: max-content;
        left: 40px;
        top: 64px;
    }

    .nav-block {
        display: none;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
        padding-bottom: 10px;
    }

    .easy-installation .row > div {
        padding: 0 0 0 45px;
    }

    a.btn-blue:hover {
        background-color: #3b4269;
        color: #fff;
    }
}

@media (max-width: 767.98px) {
    body > div:not(.header){
        padding-bottom: 60px !important;
        padding-top: 96px !important;
    }

    h1, h2 {
        font-size: 48px;
    }

    p {
        font-size: 24px;
    }

    .download-webim p {
        font-size: 26px;
    }

    a.btn {
        margin-bottom: 32px;
        font-size: 24px;
    }

    a.btn {
        padding: 26px 27px;
    }

    a.link {
        font-size: 24px;
    }

    .install-app a.link, .install-html a.link {
        font-size: 30px;
    }

    .after-installation ul {
        margin-bottom: 98px;
    }

    .after-installation li {
        margin: 0 0 42px 0;
        min-height: 104px;
        padding-left: 140px;
    }

    .after-installation img {
        height: 104px;
        width: 104px;
    }

    .other-methods .row > div {
        margin-bottom: 25px;
    }

    .other-methods img {
        width: 67px;
        height: 67px;
    }

    .list p {
        font-size: 24px;
    }

    .footer {
        padding: 62px 67px 54px;
    }

    .footer-logo p.text {
        margin: 0;
        font-size: 24px;
        color: #fff;
    }

}

@media (max-width: 575.98px) {
    body > div:not(.header) {
        padding-bottom: 30px !important;
        padding-top: 66px !important;
    }

    h2, h1 {
        font-size: 32px;
    }

    .container-fluid, .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header {
        padding: 35px 0;
    }

    .header a.logo img {
        width: 132px;
    }

    .nav-btn {
        left: 15px;
        top: 35px;
    }

    .nav-btn_line {
        width: 47px;
        margin-bottom: 9px;
    }

    .nav-block {
        top: 103px;
    }

    a.btn {
        padding: 20px 27px;
        margin-bottom: 24px;
        font-size: 14px;
    }

    a.link {
        font-size: 18px;
    }

    .install-app a.link, .install-html a.link {
        font-size: 22px;
    }

    .download-webim p, p {
        font-size: 18px;
    }

    .after-installation li {
        padding-left: 0;
        padding-top: 111px;
    }

    .list p {
        font-size: 18px;
    }

    .after-installation img {
        top: 0;
        width: 84px;
        height: 84px;
    }
}

@media (min-width: 575.98px) {
    .easy-installation .row > div {
        margin-bottom: 0;
    }
}
