.main {padding-top: 20px;}
.container {max-width: 1180px;}
a, p, h1, h2, td {margin: 0; color: #555; font-family: "Open Sans", sans-serif;}
a, h1, h2 {text-transform: uppercase; font-weight: bold;}
h1, h2 {text-align: center}
p, a {font-size: 16px;}
h2 {font-size: 20px;}
a, .review, .review .img-block, p.name:after {transition: all 0.3s;}
a:hover {text-decoration: none; color: #d24a43;}
.logo {background-color: #ddd; padding: 39px 0; text-align: center;}
.navigation {background-color: #ddd;}
.nav-bar {margin-top: 20px;}
.nav a {padding: 13px 0; width: 25%; display: inline-block; text-align: center;}
.nav a.active {background-color: #d24a43; color: #fff;}
.about {padding: 60px 62px;}
.about h1 {font-size: 30px; position: relative; margin-bottom: 50px}
.about h1:after {content: ''; background-color: #d24a43; height: 3px; width: 70px; position: absolute; bottom: -15px; left: 0; right: 0; margin: 0 auto;}
.about p {max-width: 560px; margin: 15px auto 0;}
.about p span {text-transform: uppercase; color: #d24a43; font-weight: bold;}
a.button {text-transform: none; color: #fff; background-color: #d24a43; max-width: 166px; padding: 10px 10px; display: block; margin: 40px auto 0; border-radius: 5px; box-shadow: 0 2px 0 0 rgba(85, 85, 85);}
a.button:hover {box-shadow: none;}
.reviews h2 {margin-bottom: 41px;}
.box {padding: 10px;}
.review {border: 3px solid #ddd; padding: 46px;}
.review:hover, .review:hover .img-block {border-color: #d24a43;}
.review .img-block {border-radius: 50%; border: 3px solid transparent; width: 84px; height: 84px; overflow: hidden;}
.review:hover p.name:after {width: 70px;}
.review p.name {font-weight: bold; margin-bottom: 36px; position: relative; }
.review p.name:after {content: ''; width: 35px; height: 3px; display: block; background-color: #d24a43; left: 0; right: 0; bottom: -10px; position: absolute;}
.review p.rev {font-style: italic;}
.hours {padding-bottom: 60px;}
.hours h2 {margin: 60px 0 40px;}
.hours table {margin: 0 auto; text-transform: uppercase; font-weight: bold; color: #555;}
.hours table tr:nth-child(2n+1) {background-color: #ddd;}
.hours table td {padding: 10px 36px;}
.footer {background-color: #dddddd;}
.footer a {line-height: 3; border-bottom: 1px solid;}